<div class="container">
  <form (ngSubmit)="guardar()" #forma="ngForm">
    <div class="row">
      <div class="col-5">
        <label for="fname" class="lbl">Nombre</label>
      </div>

      <div>
          <!-- [(ngModel)]="persona.nombre"  => esta ligado es bidireccional-->
        <input type="text"
          id="fname"
          placeholder="Nombre"
          class="txtbox"
          name="nombre" 
          [(ngModel)]="persona.nombre" 
          required 
          minlength="4"
          maxlength="40"
          #nombre="ngModel"
          [class.is-invalid]="nombre.invalid && nombre.touched"
          pattern="^[a-zA-ZñÑ\s]+$">
          <br>
          <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
            Ingrese mas de 3 letras
          </small>
      </div>
    </div>


    <div class="row">
      <div class="col-5">
        <label for="fdir" class="lbl">Direccion :</label>
      </div>
      <div>
        <input 
        type="text" 
        id="fdir" 
        placeholder="Direccion" 
        class="txtbox"
        name="direccion"
        [(ngModel)]="persona.direccion"
        required
        #direccion="ngModel"
        [class.is-invalid]="direccion.invalid && direccion.touched"
        pattern="^[a-zA-ZñÑ\s-#-1-9-0-º]+$">
        <br>
        <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">
          La direccion es requerida
        </small>
      </div>
    </div>

    <div class="una-linea radiobtn">
      <input
      type="checkbox"
      id="fcondicion"
      name="condicional"
      ngModel
      value="S"
      required
      #condicional="ngModel"
      >
      <label for="fcondicion">Acepta los terminos y condiciones</label>
  </div>

    <div class="row">
      <div class="alinea-btn">
        <!--Se pone corchetes porqu se traera o se ejecutara algo del component.ts-->
        <button type="submit" class="btn" [disabled]="!forma.valid">Enviar</button>
      </div>
    </div>

  </form>
</div>